$textHeaderColor:#fafafa;
$textColor:#1b1a1a;
$titleTextColor:#1a1a3c;
$titleColor:#ff518e;
$primaryColor:#82e276;
$bgColor:#f3f3f3;
$bgMainColor:  rgba(41, 46, 51, 0.8);
$bgHeaderColor:  rgba(41, 46, 51, 0.6);
$bgSecondColor:#fafafa;
$titleFontFamily: "Josefin Sans", sans-serif;
$textFontFamily: "Poppins", sans-serif;

