@import "../../styles/sass/variables.scss";
@import "../../styles/sass/mixins.scss";

.burgerNav {
  width: 100%;
  height: 100%;
  @include flex(column, space-between, center, nowrap);
  position: absolute;
  left: 0;
  right: 0;
  top: 0px;

  z-index: 1;

  .items {
    @include flex(column, space-between, center, nowrap);
    background-color: $bgColor;
    position: absolute;
    left: 0;
    right: 0;
    top: 0px;
    width: 100%;
    padding: 20px;
    height: 150px;
    transform: translate(0, -200px);
    transition: 2s;

    a {
      @include text($titleFontFamily, 16px, 1.2, 600);
      color: $textColor;
      text-decoration: none;
      letter-spacing: 1px;
      margin: 0 0 5px;
    }

    a:hover {
      text-decoration: underline;
      transition: 0.2s;
      color: $titleColor;
      cursor: pointer;
    }

    .active {
      //  transform: scale(1.05);
      color: $titleColor;
      transition: 0.2s;
      cursor: pointer;
    }
  }

  .show {
    //   @include flex(column, space-between, center, nowrap);
    transform: translate(0, 0);
  }

  .burgerBtn {
    width: 30px;
    height: 30px;
    background-color: $bgSecondColor;
    position: absolute;
    top: 24px;
    right: 24px;
    color: $textColor;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  @media screen and (min-width: 500px) {
    display: none;
  }
}