@import "../styles/sass/variables.scss";
@import "../styles/sass/mixins.scss";

.mainBlock {
  min-height: 100vh;
  background-color: $bgMainColor;
  position: relative;
  .particles {
    position: absolute;
    top: 0; 
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0.2;
  }

  .mainContainer {
    padding: 250px 0;

    .mainText {
      width: 400px;

      span {
        @include text($textFontFamily, 22px, normal, 400);
        color: $textHeaderColor;
      }

      h1 {
        @include text($titleFontFamily, 40px, normal, 600);
        color: $textHeaderColor;
      }

      .spanJob {
        @include text($textFontFamily, 26px, normal, 600);
        color: $textHeaderColor;
      }
      @media screen and (max-width: 400px) {
        width: 300px;
     }

    }

    .mainPhoto  img{
      // width: 400px;
      height: 400px;
      margin-top: 50px;
      border-radius: 5px;
      background-color: #fff;
        @media screen and (max-width: 750px) {
          width: 300px;
       }
    }
    @media screen and (max-width: 500px) {
      padding: 130px 0;
  }
  }
  
}